#carControlContainer
{
   position: absolute;
   left: 20px;
   top: 20px;
   width: 400px;
}

#meteoStationContainer
{
   position: absolute;
   left: 440px;
   top: 20px;
   width: 400px;
}

#graphContainer
{
   position: absolute;
   left: 20px;
   top: 250px;
   width: 95%;
}

#temperatureContainer
{
   font-size: 400%;
   padding: 30px;
}